@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 17, 24, 39;
  --background-end-rgb: 11, 15, 25;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
  min-height: 100vh;
}

@layer components {
  .btn-primary {
    @apply px-8 py-4 text-lg font-semibold rounded-lg bg-blue-600 hover:bg-blue-700 
    transition-all duration-200 text-white shadow-lg hover:shadow-xl;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes textTransform {
  0% {
    text-transform: lowercase;
    letter-spacing: normal;
  }
  100% {
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
}

.animate-gradient {
  background-size: 200% auto;
  animation: gradient 8s ease infinite;
}

h1 {
  animation: textTransform 1s ease-out forwards;
}
